/*custom CSS*/
body{
	background-image: url(img/sativa.png);
}
.top-buffer { 
	margin-top:50px;
}
#title{
	color:black;
	font-weight:900;
}
#title:hover{
	text-decoration: none;
	color:#337ab7;
}
button a, button a:hover {
	color:white;
}
li { 
	text-decoration: none; 
	text-align: center; 
	margin-top:5px; 
	background-color: #664B92; 
	height: 40px; 
	width: 100%; 
	list-style:none; 
	border-radius: 3px; 
	color: #fff;
	line-height: 40px;
} 

li:hover { 
	background-color: #4F3A71; 
}
a:hover{
	text-decoration: none;
}